.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
    margin: 10px;
    padding: 8px;
    border: 2px;
    width:75%;

  }
  .table-data{
      color:blue;
      font-weight: bold;
  }